
$h2:#{'min(2.4em, 24px)'};
$h3:#{'min(2.0em, 20px)'};
$h4:#{'min(1.5em, 15px)'};
$p:#{'min(1.3em, 13px)'};
$h:#{'min(2rem, 80px)'};
$lh:#{'min(1rem, 40px)'};
$plh:#{'min(0.5rem, 20px)'};
$mt:#{'min(3rem, 120px)'};


@mixin grid($win) {
    @if($win == 'mob'){
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    }@else{
        width: 80%;
        max-width: 1080px;
        margin: 0 auto;
    }
}
@mixin fl {
    display: flex;
    justify-content: space-between;   
}
@mixin bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@mixin ff($fontname, $url) {
    @font-face {
        font-family: #{$fontname};
        src: url('./fonts/#{$url}') format('truetype');
    }  
}

@include ff(xe, 'xeicon.ttf');
@include ff(dut, 'dutchb.ttf');
@include ff(dutl, 'dutch.ttf');
@include ff(Thin, 'NotoSansKR-Thin.otf');
@include ff(Light, 'NotoSansKR-Light.otf');
@include ff(Regular, 'NotoSansKR-Regular.otf');
@include ff(Medium, 'NotoSansKR-Medium.otf');
@include ff(Bold, 'NotoSansKR-Bold.otf');
@include ff(bau, 'BAUHS93.TTF');


@mixin mobile{
    @media (max-width:420px) and (min-width:0px){
        @content;         
    }
}


html{
    font-size: 3vw;
    @include mobile{
        font-size: 9.5vw;
    }

    body{
        position: relative;
        height: #{'min(246rem, 9840px)'};
        font-size: 0.7vw;
        overflow-x: hidden;
        @include mobile{
            font-size: 2.4vw;
        }
    }
}

.Wrap{
    width: 100%;
    height: 100%;
    .image{
        @include bg;
        height: 100%;
        background-image: url('../images/portfolio/이하은_서소문포트폴리오.png');

    }
}
.btns{
    position: fixed;
    bottom: #{'min(0.75rem, 30px)'};
    right: 100px;
    @include fl;
    width: 7%;
    z-index: 999;
    .btn{
        width: calc(100% / 2 - 10px);
        cursor: pointer;
        width: #{'min(1.5rem, 60px)'};
        height: #{'min(1.5rem, 60px)'};
        border-radius: 50%;
        border: 4px solid #ccc;
        line-height: #{'min(5.6em, 56px)'};
        text-align: center;
        font-family: 'dut';
        color: #666;
        font-size: $h4;
    }
}